/* Import Roboto font */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* Import tailwind */

@import "tailwindcss";

/* CSS Globals */

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

html {
  background-color: #ebeaea;
}

/* Tailwind vars */

@theme {
  --font-roboto: "Roboto", sans-serif;
  --color-input-gray: #d9d9d9;
  --color-button-blue: #37c6f3;
  --color-transparent-gray: #6d6d6d;
  --color-text-secondary: #636363;
  --color-black-transparent: rgba(0, 0, 0, 0.5);
}

/* Tailwind globals */

@layer base {
  * {
    @apply font-roboto;
  }

  h1 {
    /* ... css styles */
  }
}

/* Tailwind components */

@layer components {
  .card {
    /* ... @apply tailwind styles */
  }
}
